@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Poppins:wght@300&family=Spectral:ital,wght@1,700;1,800&display=swap');
:root{
    --yellow:rgb(253,214,91);
    --graish-white:rgb(249,244,232);
    --deep-blue:rgb(0,113,93);
    --light-black:rgb(38,54,51);
    --font1: 'Gideon Roman', cursive;
    --font2: 'Spectral', serif;
    --font3:'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
main{
    width: 100%;
    display:grid ;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:" left right";
}
.left{
    grid-area: left;
    padding:3rem 4rem 0 4rem;
    background-color: var(--graish-white);
    position: relative;
}
.left .logo1{
    margin-bottom: 3rem;
}
.left h1{
    font-family: var(--font2);
    font-size: 4rem;
    font-weight: 800;
    color:var(--light-black);
    margin-bottom: 2rem;
    line-height: 4.5rem;

}
.left p{
    font-family:var(--font3);
    color:var(--light-black);
    font-size: 1.1rem;
    font-weight: 500;
    opacity: .7;
    margin-bottom: 2.5rem;

}
.left button{
    padding:1rem 2.5rem;
    border: none;
    font-family: var(--font3);
    font-weight: bold;
    background-color: var(--deep-blue);
    color: white;
    border-radius: .3rem;
    cursor: pointer;
    transition: .2s ease-in-out;
    
}
.left button:hover{
    background-color: rgb(49, 158, 142);
}
.left button a{
    text-decoration: none;
    color: white;
}
.left .social{
    display: flex;
    align-items:center;
    gap: 2.5rem;
    margin-top: 3rem;

}
.left .social .p1{
    display: flex;
    gap: .5rem;
    font-family: serif;
    cursor: pointer;
    height: 2rem;

}
.right{
    grid-area: right;
    background-color: var(--yellow);
    position: relative;
}
.right nav{
    padding-top: 3rem;
}
.right nav ul{
    display: flex;
    justify-content: space-evenly;
}
.right nav ul li{
    list-style: none;
    padding: .5rem 1rem;
    border-radius: .2rem;
    transition: .2s ease-in;
}
.right nav ul li:hover{
    color:white;
    background-color: var(--deep-blue);
}
.right nav ul li a{
    text-decoration: none;
    color: var(--light-black);
    font-family: var(--font3);

}
.right img{
    position: absolute;
    bottom: 0;
    width: 65%;
    height:80%;
}
